.col-md-8 ul li {
    margin-bottom: 10px;
    list-style: none;
  }
  /* .container{
    background: linear-gradient(to right, rgb(106, 69, 69), rgb(24, 24, 24));
    color: white;
    max-width: 100%;

  } */