<div class="contact">
    <div class="details">
        <ul>
            @for(item of contacts; track $index; let i=$index){
                <li>
                    <img [src]="item.src" [alt]="item.desc"> 
                        @if(item.url){
                            <a [href]="item.url" target="_blank">{{item.desc}}</a>
                        }
                        @else{
                            {{item.desc}}
                        }
                    
                </li>
            }
        </ul>
        
    </div>
  </div>
  